<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Do Rent</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <style>
        .new-user {
            color: #fe9c0e !important;
            height: 100px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 35px;
            background: none;
            width: 350px;
            padding: 20px;
            border: 4px solid #fe9c0e !important;
            display: inline-block;
            transition: all 0.4s ease 0s;
        }

        .admin {
            color: #fe9c0e !important;
            height: px;
            text-transform: uppercase;
            text-decoration: none;
            background: none;
            width: 100px;
            padding: 10px;
            border: 4px solid #fe9c0e !important;
            display: inline-block;
            transition: all 0.4s ease 0s;
        }

        .new-user:hover,
        .admin:hover {
            color: #ffffff !important;
            background: #fe9c0e;
            border-color: #fe9c0e !important;
            transition: all 0.4s ease 0s;
        }

        .center {
            text-align: center;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .corner {
            text-align: center;
            margin: 0;
            position: absolute;
            top: 1%;
            left: 92%;
            /* -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); */
        }

        .bg-body {
            background-image: url(https://hdqwalls.com/wallpapers/orange-minimalism.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body class="bg-body">
    <div class="center">
        <a class="new-user" href="/register/user">New User</a>
        <br><br>
    </div>
    <div class="corner">
        <a class="admin" href="/register/admin">Admin</a>
    </div>
</body>

</html>